<head>
    <%- include('template'); -%>
</head>
<div class="d-flex" id="wrapper">
    <div id="page-content-wrapper">
        <%- include('./common/navbar'); -%> <%- include('./common/message'); -%>
    </div>
</div>
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>
<script src="/js/template.js"></script>
