extends ../template
block content
            if msg
                div(aria-live='polite', aria-atomic='true', style='position: relative; min-height: 70px')
                    .toast(style='position: absolute; top: 0; right: 0', data-delay='3000')
                        .toast-header
                            strong.mr-auto notification
                            .toast-body=msg
            form(action='/create-user', method='post')
                .modal-header
                    h5#exampleModalLabel.modal-title Add User
                .modal-body
                        .form-group
                            input.form-control(type='text', placeholder='Enter username', name='userName')
                        .form-group
                            input.form-control(type='password', placeholder='Enter password', name='password')
                        .form-group
                            input.form-control(type='text', placeholder='Enter Name', name='name')
                        .form-group
                            input.form-control(type='text', placeholder='Enter Age', name='age')
                        .form-group
                            input.form-control(type='text', placeholder='Enter Address', name='address')
                .modal-footer
                    a(href="/")
                        button.btn.btn-secondary(type='button', data-dismiss='modal' ) Cancel 
                    button.btn.btn-primary(type='submit' ) Save
                p=msg
            script.
                $(".toast").toast("show")