<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../template'); -%>
        <title>Login</title>
    </head>
    <body>
        <div class="form-login">
            <form action="/login" method="post">
                <div class="form-group">
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Enter username"
                        name="userName"
                    />
                </div>
                <div class="form-group">
                    <input
                        class="form-control"
                        type="password"
                        placeholder="Password"
                        name="password"
                    />
                </div>

                <button class="btn btn-primary" type="submit">Login</button>
            </form>
        </div>
        <% if (msg) { %>
        <div
            aria-live="polite"
            aria-atomic="true"
            style="position: relative; min-height: 60px"
        >
            <div
                class="toast"
                style="position: absolute; top: 0; right: 0"
                data-delay="3000"
            >
                <div class="toast-header">
                    <strong class="mr-auto">notification</strong>
                    <div class="toast-body"><%= msg %></div>
                </div>
            </div>
        </div>
        <% } %>
        <style>
            body {
                text-align: center;
            }

            .form-login {
                width: 400px;
                display: inline-block;
                margin-top: 200px;
            }
        </style>
        <script>
            $(".toast").toast("show");
        </script>
    </body>
</html>
